*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
html{
    font-size: 60%;
    box-sizing: border-box;
}
body{
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #fff;
    color: black;
    
}
h1,h3,h4{
    font-weight: 500;
}
a{
    text-decoration: none;
}
.h1{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
}
li{
    list-style: none;
}
.contrainer{
    max-width: 1114rem;
    margin: 0 auto;
}
.header{
    position: relative;
    width: 100%;
    background-color: black;
    z-index: 1;
}
.remove{
    background-color: crimson;
    color: #fff;
}
.navigetion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1 {
    font-size: 2.5rem;
    color: #fff;
}
.logo h1 span{
    font-weight: bold;
    color: violet;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child){
    margin-right: 0.5rem;
}
.nav-link:link,.nav-link:visited{
    color: #fff;
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}
.nav-link:hover{
    border-radius: 0.3rem;
    background-color: greenyellow;
}
.nav-link2:link,.nav-link2:visited{
    color: #fff;
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}
.nav-link2:hover{
    border-radius: 0.3rem;
    background-color: crimson;
}
.nav-link3:link,.nav-link3:visited{
    color: #fff;
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}
.nav-link3:hover{
    border-radius: 0.3rem;
    background-color: palevioletred;
}
.top-nav{
    display: none;
}
.nav{
    color: #ffff;
}
.search{
    border: solid 1px palevioletred;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
input[type=search]{
    border: none;
    outline: none;
    font-size: 24px;
}
input[type=search]::placeholder{
    color: palevioletred;
}
i{
    font-size: 22px;
    color: palevioletred;
    margin: 0 15px;
}